@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 20% 75% 5%;
    height: 100vh;
    overflow: hidden;
    background-image: url("./bg.jpg");
    background-size: cover;
    font-family: 'Noto Serif JP', serif;
    font-size: 0.9rem;
}

header {
    margin: 1.5rem auto 0;
    font-size: 2rem;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

header .title h4{
    padding-top: 1rem;
}

.text {
    text-align: center;
    padding-bottom: 15px;
}

.container {
    margin: 2rem auto 0;
    width: 75%;
    text-align: justify;
}

.monsters {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;

}

.monsters > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

.monster-pic img {
    height: 8rem;
    width: auto;
    margin-left: 25%;
    cursor: pointer;
    padding: 15px;
}

.active {
    border: 2px solid yellow;
    box-shadow: rgb(250, 220, 87) 0px 0px 6px 2px;
}

.monster-name {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.monster-name-header {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    font-weight: 900;
}

.text-choose {
    cursor: pointer;
}

.choose-monster {
    margin: 0.5rem auto;
}

.choose-monster:hover{
    font-weight: 700;
}

.monster-chosen {
    font-weight: 700;
}

.button {
    width: 100%;
    margin-top: 2rem;
    display: flex;
}

button {
    margin: 0 auto;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 700;
    color: rgb(82, 15, 15);
    background: linear-gradient(0deg, rgba(255,237,154,1) 0%, rgba(252,246,207,1) 100%);
    box-shadow: rgb(250, 220, 87) 0px 0px 6px 2px;
    border: none;
}

button:hover {
    background: linear-gradient(0deg, rgba(255,205,54,1) 0%, rgba(255,244,195,1) 76%);
    box-shadow: rgb(240, 208, 66) 0px 0px 6px 2px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    margin-left: 2rem;
    font-style: italic;
}

/*combat html*/

i {
    cursor: pointer;
}

i:hover {
    color: rgb(240, 208, 66)
}
.monster-pic-combat img{
    height: 12rem;
    width: auto;
    cursor: pointer;
    padding: 15px;
}

.monsters-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.info > div {
    padding: 0.5rem;
}

.monster-name-combat {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40%;
    height: 1rem;
    color: #ff0062;
    border: 1px solid black;
}

progress[value]::-webkit-progress-bar,
progress[value] {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: red;
    transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
    background-color: red;
    transition: all 0.2s ease-out;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu button {
    margin: 0.5rem;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255,237,154,1) 0%, rgba(252,246,207,1) 100%);
    border: 1px solid rgba(255,237,154,1);
}

.menu button:hover {
    background: linear-gradient(0deg, rgba(255,205,54,1) 0%, rgba(255,244,195,1) 76%);
}

.after {
    display: none;
}

.log {
    height: 300px;
    width: 600px;
    text-align: center;
    overflow-y: hidden;
}

/*final_screen*/
.final-message {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
}

.win-img img {
    width: 200px;
    height: auto;
}

.final-message > .text {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*media query*/
@media screen and (max-width: 420px) {
    body {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: scroll;
    }
    header {
        margin-top: 0.5rem;
    }
    .title {
        font-size: 1rem;
    }
    .text {
        margin-top: 0.5rem;
    }
    .container {
        margin-top: 0.5rem;
        width: 95%;
    }
    .monsters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 80vw;
    }
    .monsters > div {
        width: 80vw;
        margin-left: -5%;
    }
    .button {
        margin: 2px 0 10px;
    }
    .monsters-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        height: auto;
    }
    .info {
        width: 33vw;
    }
    .monster-pic-combat img{
        height: 25vh;
        margin-left: -25%;
    }
    .monster-name-combat {
        font-size: 1.5rem;
    }
    progress {
        width: 100%
    }
    .log {
        height: 6rem;
        overflow: scroll;
        order: 3;
    }
    footer {
        position: static;
    }
}

@media screen and (min-width: 421px) and (max-width: 736px) {
    body {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: scroll;
    }
    header {
        margin-top: 0;
    }
    .title {
        font-size: 1rem;
    }
    .text {
        margin-top: 1rem;
    }
    .container {
        margin-top: 0;
        width: 100%;
    }
    .monsters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        width: 80vw;
    }
    .monsters > div {
        width: 33vw;
        margin-left: -5%;
    }
    .button {
        margin: 0;
    }
    .monsters-info{
        margin: 0 auto;
    }
    .monster-pic-combat img{
        height: 30vh;
        padding: 0;
    }
    .monster-name-combat{
        font-size: 1.5em;
    }
    .info > div {
        padding: 0;
    }
    .log {
        height: 11rem;
        overflow: scroll;
    }
    footer {
        position: static;
    }
    .final-message img{
        height: 30vh;
        width: auto;
    }
}

@media screen and (min-width: 737px) and (max-width: 1024px) {
    body{
        display: grid;
        grid-template-rows: 15% 80% 5%;
        height: 100vh;
        overflow: scroll;
        margin: 0 auto;
    }
    header {
        margin: 0;
    }
    .container {
        width: 100vw;
    }
}